<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.marathon.mapper.UserMapper">

    <!-- User 엔티티 매핑을 위한 resultMap 정의 -->
    <resultMap id="UserResultMap" type="com.project.marathon.entity.User">
        <result property="userId" column="user_id"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userRole" column="user_role"/>
    </resultMap>

    <!-- user_name으로 사용자 조회 -->
    <select id="findByUserName" parameterType="String" resultMap="UserResultMap">
        SELECT user_id, user_password, user_email, user_role FROM tb_users WHERE user_name = #{userName}
    </select>

    <!-- user_id로 사용자 조회 -->
    <select id="findByUserId" parameterType="String" resultMap="UserResultMap" useCache="false">
        SELECT user_id, user_password, user_email, user_role FROM tb_users WHERE user_id = #{userId}
    </select>

    <!-- 사용자 삽입 -->
    <insert id="insertUser" parameterType="com.project.marathon.entity.User">
        INSERT INTO tb_users (user_id, user_password, user_email, user_role)
        VALUES (#{userId}, #{userPassword}, #{userEmail}, #{userRole})
    </insert>

</mapper>
